<% include ../partials/header %>

<% include ../partials/nav %>

<div class="container">
  <% include ../partials/flash %>

  <h1>Admin Panel</h1>
</div>
<div class="container">
    <p>Control Panel For centralized administration of posts and users.</p>
    <hr>
</div>

<div class="container-fluid">
    <h3>Users</h3>
    <table class="table table-sm table-striped user-table">
        <thead>
            <tr class="bg-primary">
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Profile</th>
                <th scope="col">Admin</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (users) { %>
                <% users.forEach((user, idx) => { %>
                <tr>
                    <th scope="row"><%= (idx+1) %></th>
                    <td><%= user.username %></td>
                    <td><%= user.name %></td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" href="/users/<%= user.id %>"><i class="fas fa-link user-posts"></i></a>
                    </td>
                    <td><%- (user.isAdmin) ? '<i class="far fa-check-square"></i>':'<i class="far fa-square"></i>' %></td>
                    <td>
                        <a class="btn btn-sm btn-outline-warning" href="/users/<%= user.id %>/edit"><i class="far fa-edit user-edit"></i></a>
                        <form class="admin-del-form" action="/users/<%= user.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger"><i class="fas fa-minus-circle user-delete"></i></a>
                        </form>
                    </td>
                </tr>
                <% }); %>
            <% } %>
        </tbody>
    </table>
</div>
  
<div class="container-fluid">
    <h3>Campgrounds</h3>
    <table class="table table-sm table-striped">
        <thead>
            <tr class="bg-success">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Author</th>
                <th scope="col">Link</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (campgrounds) { %>
                <% campgrounds.forEach((campground, idx) => { %>
                <tr>
                    <th scope="row"><%= (idx+1) %></th>
                    <td><%= campground.name %></td>
                    <td><%= campground.location %></td>
                    <td><%= campground.author.name %> (<%= campground.author.username %>)</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" href="/campgrounds/<%= campground.id %>"><i class="fas fa-link"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-outline-warning" href="/campgrounds/<%= campground.id %>/edit"><i class="far fa-edit user-edit"></i></a>
                        <form class="admin-del-form" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-outline-danger"><i class="fas fa-minus-circle user-delete"></i></a>
                        </form>
                    </td>
                </tr>
                <% }); %>
            <% } %>
        </tbody>
    </table>
</div>

<% include ../partials/footer %>